<div class="text-center">
  <img src="/assets/profile_image.jpg" alt="Teddy Taussig" class="rounded-circle" width="150">
  <h1 class="mt-3 fade-in">Hi, I’m Teddy!</h1>
  <p class="lead">Computer Science major at Connecticut College with a passion for software design and game development.</p>
  
</div>
