<h2>Projects</h2>
<div class="row">
  <div class="col-md-4">
    <div class="card mb-4 project-card">
      <div class="card-body">
        <h5 class="card-title"><i class="bi bi-filetype-html"></i> HTML Generator</h5>
        <p class="card-text">Python project that reads text and generates an HTML webpage. Built with classmates.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mb-4 project-card">
      <div class="card-body">
        <h5 class="card-title"><i class="bi bi-joystick"></i> Powerplant</h5>
        <p class="card-text">Unity C# video game made from scratch with full mechanics and class presentation.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mb-4 project-card">
      <div class="card-body">
        <h5 class="card-title"> <i class="bi bi-archive"></i> Movie Archive</h5>
        <p class="card-text">Java application simulating an IMDb-style archive using custom data structures.</p>
      </div>
    </div>
  </div>
</div>